//가운데 정렬
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

//양쪽정렬
@mixin flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

//중앙절렬
@mixin position-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

//상단고정
@mixin position-fixed{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}